{{ define main }} 

<div class="ui inverted vertical masthead center aligned segment">
    <div class="ui text container">
        <h1 class="ui inverted header">
            About me
        </h1>
    </div>
</div>

<div class="ui vertical center aligned segment">
    <div class="ui text container">
        <p>
            
        </p>        
    </div>
</div>

<div class="ui vertical center aligned segment">
    <div class="ui text container">
        <h2 class="ui header">Qualifications</h2>
        
    </div>
</div>

{{ end }}