<script>
    $(document)
        .ready(function () {
            // fix menu when passed
            // $('.masthead')
            //     .visibility({
            //         once: false,
            //         onBottomPassed: function () {
            //             $('.fixed.menu').transition('fade in');
            //         },
            //         onBottomPassedReverse: function () {
            //             $('.fixed.menu').transition('fade out');
            //         }
            //     });
            // create sidebar and attach to menu open
            $('.ui.sidebar').sidebar('attach events', '.toc.item');
        });
</script>



<!-- Sidebar Menu -->
<div class="ui top vertical menu sidebar">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
        <a class="item {{ if $currentPage.IsMenuCurrent "main" . }}active {{ end }}" href="{{ .URL }}">{{ .Pre }}{{ .Name }}{{ .Post }}</a>
    {{ end }}
</div>

<!-- Desktop/tablet menu -->
<!-- ui fixed inverted menu -->
<div class="ui top large fixed menu">
    <div class="ui container">
        <a class="toc item">
            <i class="sidebar icon"></i>
        </a>
        <div class="header item">
            <img class="logo" src="https://avatars.githubusercontent.com/u/5290351?v=4" />
        </div>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            <a class="item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}" href="{{ .URL }}">{{ .Pre }}{{ .Name }}{{ .Post }}</a>
        {{ end }}
        <div class="right menu">
            {{ range .Site.Menus.right }}
                <a class="item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}" href="{{ .URL }}">{{ .Pre }}{{ .Name }}{{ .Post }}</a>
            {{ end }}
        </div>
    </div>
</div>
